<div class="mb-3">
    <label for="${propName}Id" class="form-label">${propName} select</label>
    <select class="form-control" name="${propName}Id" id="${propName}Id">
        <option value=''>请选择</option>
        <option th:value='\${${propName}.id}' th:each="${propName}:\${${propName}List}"
                th:selected="\${${grin.generate.ClassUtils.propertyName(entityClass)}.${propName}} ? \${${propName}.id == ${grin.generate.ClassUtils.propertyName(entityClass)}.${propName}.id}"
                th:text="\${${propName}}">选项 X</option>
    </select>
</div>