<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layouts/main :: layout(~{::title/text()}, ~{::body})}">
    <head>
        <title>List</title>
    </head>
    <body>
        <h1>List</h1>
        <table>
            <tr>
                <th>id</th>
                <th>title</th>
                <th>publish</th>
            </tr>
            <tr th:each="prod:${list}">
                <td th:text="${prod.id}">Onions</td>
                <td th:text="${prod.title}">2.41</td>
                <td th:text="${prod.publishAt}">2.41</td>
            </tr>
        </table>
    </body>
</html>