<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layouts/main :: layout(~{::title/text()}, ~{::body})}">
    <head>
        <title>book list</title>
    </head>

    <body>
        <h1>book list</h1>
        <table class="table table-bordered">
            <tr>
                 <th>id</th>
  <th>title</th>
  <th>type</th>
  <th>publishAt</th>
 
                <th>ops</th>
            </tr>
            <tr th:each="book:${list}">
                <td><a href="#" th:text="${book.id}" th:href="|show/${book.id}|">PropertyValue</a></td> 
 <td th:text="${book.title}">PropertyValue</td> 
  <td th:text="${book.type}">PropertyValue</td> 
  <td th:text="${book.publishAt}">PropertyValue</td> 
 
                <td>
                    <a href="#" th:href="|edit/${book.id}|">修改</a>
                    <a href="#" th:href="|delete/${book.id}|">删除</a>
                </td>
            </tr>
        </table>
    </body>
</html>