<!DOCTYPE html>
<html class="h-100" th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title th:replace="${title}">Layout Title</title>
    [(${g.assetJs('application.js')})]
    [(${g.assetCss('front.css')})]
    <link href="/files/assets/images/favicon.ico" rel="Shortcut Icon">
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0 mb-4">
    <div class="bg-light">
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
                <a class="d-flex align-items-center mb-3 mb-sm-0 me-sm-auto text-dark text-decoration-none" href="/">
                    <span class="fs-4">首页</span>
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item"><a aria-current="page" href="/" th:class="${controllerName=='home'} ? 'nav-link active' : 'nav-link'">首页</a></li>
                    <li class="nav-item"><a aria-current="page" href="/book/index" th:class="${controllerName=='book'} ? 'nav-link active' : 'nav-link'">图书</a></li>
                    <li class="nav-item"><a aria-current="page" href="/author/index" th:class="${controllerName=='author'} ? 'nav-link active' : 'nav-link'">作者</a></li>
                    <li class="nav-item"><a aria-current="page" href="/blog" th:class="${controllerName=='blog'} ? 'nav-link active' : 'nav-link'">博客</a></li>
                </ul>
            </header>
        </div>
    </div>

    <div class="container" th:include="${content}"></div>
</main>
<footer class="mt-auto bg-light py-4">
    <div class="container "><span class="text-muted">&copy; 2022</span></div>
</footer>
</body>
</html>