<!DOCTYPE html>
<html th:replace="~{/layouts/main :: layout(~{::head/content()}, ~{::body/content()})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Grin Example Project</title>
</head>
<body>
<section class="bg-light p-5 text-center rounded">
    <h1 class="mb-4">Grin Example Project</h1>
    <p class="text-danger" th:if="${flash.message}" th:text="${flash.message}"></p>
    <p class="lead text-muted">
        a groovy web framework like Grails.
    </p>
    <p class="p-5">
        <img alt="公众号" src="/files/assets/images/me/gongzhonghao.jpg">
    </p>
</section>
</body>
</html>