<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layouts/main :: layout(~{::title/text()}, ~{::body})}">
    <head>
        <title>create ${grace.util.ClassUtil.propertyName(entityClass)}</title>
    </head>

    <body>
        <h1>create ${grace.util.ClassUtil.propertyName(entityClass)}</h1>

        <form action="create" method="post">
            <%
                out << grace.generate.FormGenerator.generateForm(entityClass)
            %>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>
