<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layouts/main :: layout(~{::title/text()}, ~{::body})}">
    <head>
        <title>create ${propertyName}</title>
    </head>

    <body>
        <h1>create ${propertyName}</h1>

        <th:block th:if="\${${propertyName}.errors.size()>0}">
            <p th:text="\${${propertyName}.errors}"></p>
        </th:block>

        <form action="/${propertyName}/save" method="post">
            <%
                out << grace.generate.FormGenerator.generateForm(entityClass)
            %>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>
