<!DOCTYPE html>
<html>
    <head>
        <title>create ${grace.util.ClassUtil.propertyName(entityClass)}</title>
    </head>

    <body>
        <h1>create ${grace.util.ClassUtil.propertyName(entityClass)}</h1>

        <form>
            <input type="hidden" name="id" value="\${${grace.util.ClassUtil.propertyName(entityClass)}.id}">
            <%
                out << grace.generate.FormGenerator.generateForm(entityClass)
            %>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>
