<div class="form-group">
    <label for="${propName}Id">${propName} select</label>
    <select class="form-control" name="${propName}Id" id="${propName}Id">
        <option value=''>请选择</option>
        <option th:value='\${${propName}.id}' th:each="${propName}:\${${propName}List}"
                th:selected="\${${gun.util.ClassUtil.propertyName(entityClass)}.${propName}} ? \${${propName}.id == ${gun.util.ClassUtil.propertyName(entityClass)}.${propName}.id}"
                th:text="\${${propName}}">选项 X</option>
    </select>
</div>