<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layouts/main :: layout(~{::title}, ~{::body})}">
    <head>
        <title>create author</title>
    </head>

    <body>
        <h1>create author</h1>

        <th:block th:if="${author.errors.size()>0}">
            <p th:text="${author.errors}"></p>
        </th:block>

        <form action="/author/save" method="post">
            <div class="mb-3">
    <label for="name" class="form-label">name</label>
    
    <input class="form-control" id="name" name="name" th:value="${author.name}" type="text"
           aria-describedby="nameHelp" placeholder="Enter name">
    
    <div id="nameHelp" class="form-text"></div>
</div>
<div class="mb-3">
    <label for="createAt" class="form-label">createAt</label>
    
    <input class="form-control" id="createAt" name="createAt" th:value="${author.createAt}" type="datetime"
           aria-describedby="createAtHelp" placeholder="Enter createAt">
    
    <div id="createAtHelp" class="form-text"></div>
</div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>
