<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layouts/main :: layout(~{::title/text()}, ~{::body})}">
    <head>
        <title>服务器出错了</title>
    </head>
    <body>
        <div class="text-center m-auto">
            <h1 class="my-5">服务器出错了 ~~~</h1>
            <p class="lead text-muted">这是不该发生的</p>
            <p class="lead text-muted">可是，却发生了</p>
            <p class="lead text-muted">我很难过，但暂时也没有办法</p>
            <p class="lead text-muted">我已经做了记录，管理员会尽快处理的</p>
            <p class="lead text-muted">改日再来吧</p>
        </div>
    </body>
</html>