<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layouts/main :: layout(~{::title/text()}, ~{::body})}">
    <head>
        <title>找不到页面</title>
    </head>
    <body>
        <div class="text-center m-auto">
            <h1 class="my-5">找不到页面 ~~~</h1>
            <p class="lead text-muted">千山鸟飞绝</p>
            <p class="lead text-muted">万径人踪灭</p>
            <p class="lead text-muted">去首页看看吧</p>
            <p class="lead text-muted">***</p>
        </div>
    </body>
</html>