<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layouts/main :: layout(~{::title}, ~{::body})}">
    <head>
        <title>edit book</title>
    </head>

    <body>
        <h1>edit book</h1>

        <th:block th:if="${book.errors.size()>0}">
            <p th:text="${book.errors}"></p>
        </th:block>

        <form action="/book/update" method="post">
            <input type="hidden" name="id" th:value="${book.id}">
            <div class="form-group">
    <label for="authorId">author select</label>
    <select class="form-control" name="authorId" id="authorId">
        <option value=''>请选择</option>
        <option th:value='${author.id}' th:each="author:${authorList}"
                th:selected="${book.author} ? ${author.id == book.author.id}"
                th:text="${author}">选项 X</option>
    </select>
</div>
<div class="form-group">
    <label for="title">title</label>
    
    <input class="form-control" id="title" name="title" th:value="${book.title}" type="text"
           aria-describedby="titleHelp" placeholder="Enter title">
    
    <small id="titleHelp" class="form-text text-muted">字符串长度要处于 1 到 100 之间</small>
</div>
<div class="form-group">
    <label for="type">type select</label>
    <select class="form-control" name="type" id="type">
        <option th:selected="${book.type=='语文'}" value='语文'>语文</option>
        <option th:selected="${book.type=='数学'}" value='数学'>数学</option>
    </select>
</div>
<div class="form-group">
    <label for="price">price</label>

    <input class="form-control" id="price" name="price" th:value="${book.price}" type="text"
           aria-describedby="priceHelp" placeholder="Enter price">
    
    <small id="priceHelp" class="form-text text-muted">价格介于 1.0 到 10.0 之间</small>
</div>
<div class="form-group">
    <label for="list">list</label>

    <input class="form-control" id="list" name="list" th:value="${book.list}" type="text"
           aria-describedby="listHelp" placeholder="Enter list">
    
    <small id="listHelp" class="form-text text-muted"></small>
</div>
<div class="form-group">
    <label for="map">map</label>

    <input class="form-control" id="map" name="map" th:value="${book.map}" type="text"
           aria-describedby="mapHelp" placeholder="Enter map">
    
    <small id="mapHelp" class="form-text text-muted"></small>
</div>
<div class="form-group">
    <label for="publishAt">publishAt</label>

    <input class="form-control" id="publishAt" name="publishAt" th:value="${book.publishAt}" type="datetime"
           aria-describedby="publishAtHelp" placeholder="Enter publishAt">
    
    <small id="publishAtHelp" class="form-text text-muted"></small>
</div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
</html>
